@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    margin: 0rem;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html,body,#root,.App{
    width: 100%;
    height: 100%;
}
.App{
    display: flex;
}

/*------------------ Login --------------- */
.loginform-container{
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
}

.loginform, .dashboard{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 20rem;
    height: 24rem;
    background-color: #eae3e3;
    margin: auto;
    border-radius: 1rem;
    gap: 1.2rem;
    padding: 1rem;
}

.login-input-div{
    display: flex;
    flex-direction: column;
    gap: .2rem;
    width: 90%;
}
.loginform input{
    width: 98%;
    height: 3rem;
    border-radius: 4px;
    border:none;
    padding: 10px;
    font-size: 1rem;
    align-self: flex-end;
}
.loginform input:focus {
    outline: 2px solid #5555ff;
}

.loginform button, .Scanner button, .dashboard button{
    width: fit-content;
    padding: .5rem 1rem;
    border: 2px solid black;
    cursor: pointer;
    font-size: 1rem;
    color: white;
    background-color: black;
    border-radius: 4px;
    transition: all 0.3s;
}
.loginform button:hover,.Scanner button:hover, .dashboard button:hover{
    background-color: white;
    color: black;
}
.loginform pre{
    width: 90%;
    font-size: 0.9rem;
    text-align: center;
}
.error-pre{
    color: #ff1010;
}



/*------------------ Dashboard --------------- */

.dashboard{
    width: 24rem;
    height: 34rem;
    justify-content: space-evenly;
    align-items: center;
}
.show-barcodes{
    display: flex;
    height: 80%;
    width: 90%;
    justify-content: center;
    align-items: center;
    overflow: scroll;
    overflow-x: hidden;
}
.show-barcodes div{
    display: flex;
    flex-direction: column;
    gap: .6rem;
    height: 100%;
    width: 100%;
}
.show-barcodes div p{
    padding: .4rem;
    background-color: white;
    border-radius: 4px;
}
::-webkit-scrollbar{
    width: 0rem;
}



.loader {
    align-self: center;
    margin: auto;
    color: #000000;
    font-size: 36px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    transform: translateZ(0);
    animation: mltShdSpin 1.7s infinite ease, round 1.7s infinite ease;
}





@media screen and (max-width: 460px) {
    
    .loginform{
        width: 15rem;
        height: 19rem;
        border-radius: 1rem;
        gap: 1.2rem;
        padding: .6rem;
    }
    
    .login-input-div{
        display: flex;
        flex-direction: column;
        gap: .2rem;
        width: 90%;
    }
    .login-input-div label{
        font-size: .9rem;
    }
    .loginform input{
        width: 98%;
        height: 2.2rem;
        border-radius: 4px;
        border:none;
        padding: 8px;
        font-size: 1rem;
        align-self: flex-end;
    }
    .loginform input:focus {
        outline: 1px solid #5555ff;
    }
    .loginform pre{
        width: 90%;
        font-size: 0.7rem;
        text-align: center;
    }
    .loginform button, .dashboard button{
        padding: .5rem 1rem;
        border: 1px solid black;
        font-size: .8rem;
    }





    .dashboard{
        width: 16rem;
        height: 26rem;
    }
    .show-barcodes{
        height: 80%;
        width: 90%;
    }
    .dashboard h3{
        font-size: 1rem;
    }
    .show-barcodes div{
        gap: .4rem;
    }
    .show-barcodes div p{
        padding: .3rem;
        background-color: white;
        font-size: 0.8rem;
    }



    .loader {
        font-size: 28px;
    }

}












  
  @keyframes mltShdSpin {
    0% {
      box-shadow: 0 -0.83em 0 -0.4em,
      0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
      box-shadow: 0 -0.83em 0 -0.4em, 
      0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
      box-shadow: 0 -0.83em 0 -0.4em, 
      -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, 
      -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
       -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, 
       -0.749em -0.34em 0 -0.477em;
    }
    38% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
       -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, 
       -0.82em -0.09em 0 -0.477em;
    }
    100% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 
      0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
  }
  
  @keyframes round {
    0% { transform: rotate(0deg) }
    100% { transform: rotate(360deg) }
  }
   